body{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;

}
.green{
    height: 20vh;
    width: 20vh;
    background-color: blue;

}
.red{
    height: 20vh;
    width: 20vh;
    background-color: red;
}
.blue{
    height: 20vh;
    width: 20vh;
    background-color: blue;
}
.header{

}